@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  font-family: "Ubuntu", sans-serif;
  /* font-family: "Hind Siliguri", sans-serif; */
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #03030e; */
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #282828;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.rangeClass {
  width: 400px;
  cursor: pointer;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
}

input[type="range"] {
  width: 300px;
  margin: 18px 0;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #174f83;
  border-radius: 4px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #174f83;
  margin-top: -7px;
  cursor: pointer;
}
